# LLM credentials
ANTHROPIC_API_KEY =

#Postgres credentials
DB_HOST =
DB_PORT =
DB_NAME =
DB_USER =
DB_PASSWORD =

#Truelayer Live credentials
TL_API_BASE_URL =
LIVE_TOKEN_URL=
TL_LIVE_AUTH_CODE =
TL_CLIENT_ID_LIVE =
TL_SECRET_LIVE =

STREAMLIT_PASSWORD =

# LLM credentials
ANTHROPIC_API_KEY =